<div class="dev-tools-popup">
    <h3>Advanced Options <i id="arrow-icon" class="fa-solid fa-arrow-up"></i></h3>
    <div class="dev-tools-contents" hidden>
        <h4>Connected to <span style="color:#6fdc90">CENTRALIZED:20213</span></h4>
        <h4> Node Status </h4>
        <div class="dev-tools-servers">
            <div class="server down" id="CENTRAL_NODE">
                <div class="server-icon"></div>
                <p>Centralized</p>
            </div>
            <div class="server down" id="LUZON_NODE">
                <div class="server-icon"></div>
                <p>Luzon</p>
            </div>
            <div class="server down" id="VISMIN_NODE">
                <div class="server-icon"></div>
                <p>Visayas / Mindanao</p>
        </div>
    </div>
</div>