<div style ="border:1px solid black; width:25%">
    <select name="node">?
        <option value="central">Central</option>
        <option value="luzon">Luzon</option>
        <option value="visayas">Visayas/Mindanao</option>
    </select>
    <input type="text" placeholder="Appointment ID"> 
</div>