

<link rel="stylesheet" href="/css/navbar.css">
<div class="navbar purple">
    <div class="nav-links">
        <div class="title">
            <a href="/" class="navbar-link">SeriousMD</a>
        </div>
        <div class="link-set">
            <div class="link">
                <a href="/" class="navbar-link">Appointments</a>
            </div>
            <div class="line-separator">
                |
            </div>
            <div class="link">
                <a href="http://ccscloud.dlsu.edu.ph:20213/report" class="navbar-link">Database Report</a>
            </div>
        </div>
    </div>
</div>


<script>
    var prevScrollpos = window.pageYOffset;
    window.onscroll = function() {
        var currentScrollPos = window.pageYOffset;
        if (prevScrollpos > currentScrollPos) {
            document.querySelector(".navbar").style.top = "0";
        } else {
            document.querySelector(".navbar").style.top = "-50px";
        }
        prevScrollpos = currentScrollPos;
    }
    document.querySelector(".navbar").style.transition = "top 0.3s";

    if (window.location.pathname !== "/") {
        document.querySelector(".navbar-link").setAttribute("href", "javascript:history.back()");
    }
</script>