

<link rel="stylesheet" href="/css/navbar.css">
<div class="navbar purple">
    <div class="nav-links">
        <div class="title">
            <a href="/" class="navbar-link">SeriousMD</a>
        </div>
        <div class="link-set">
            <div class="link">
                <a href="/" class="navbar-link">Appointments</a>
            </div>
            <div class="line-separator">
                |
            </div>
            <div class="link">
                <a href="/dashboard" class="navbar-link">Dashboard</a>
            </div>
        </div>
    </div>
</div>