<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./css/style.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script src="https://kit.fontawesome.com/de9022eef9.js" crossorigin="anonymous"></script>
    <script src="./javascript/index.js"></script>
    <script src="./javascript/table.js"></script>
    <script src="./javascript/search-utils.js"></script>
    <script src="./javascript/operations.js"></script>

    <title>SeriousMD Tools | Appointments</title>
</head>
<body>
    <%- include('partials/navbar') %>
    
    <div class="table-container">
        <h1>SeriousMD Appointments</h1>
        <h2>Server Status <i class="fa-solid fa-server"></i></h2>
        <div class="servers">
            <div class="server" id="CENTRAL_NODE">
                <div class="server-icon"></div>
                <p>Centralized</p>
            </div>
            <div class="server" id="LUZON_NODE">
                <div class="server-icon"></div>
                <p>Luzon</p>
            </div>
            <div class="server" id="VISMIN_NODE">
                <div class="server-icon"></div>
                <p>Visayas / Mindanao</p>
            </div>
        </div>
        <div class="search-utils">
            <form class="search-utils-form">
                <div class="search-utils-container">
                    <h3>What are you looking for?</h3>
                    <div class="search-bar-container">
                        <input class="search-bar" name="search-bar" type="text" placeholder="Search Appointment ID">
                    </div>
                    <div class="filter-container">
                        <div class="filter">
                            <label for="island-filter">Island:</label>
                            <select name="island-filter" id="island-filter">
                                <option value="all">All</option>
                                <option value="Luzon">Luzon</option>
                                <option value="Visayas">Visayas</option>
                                <option value="Mindanao">Mindanao</option>
                            </select>
                        </div>
                        <div class="filter">
                            <label for="select-filter">Status:</label>
                            <select name="select-filter" id="select-filter">
                                <option value="all">All</option>
                                <option value="Complete">Complete</option>
                                <option value="Queued">Queued</option>
                                <option value="Serving">Serving</option>
                                <option value="NoShow">NoShow</option>
                                <option value="Skip">Skip</option>
                            </select>
                        </div>
                    </div>
                    
                    <div class="filter-buttons">
                        <button type="submit" class="form-button filter-button"><i class="fa-solid fa-filter"></i></button>
                        <button type="reset" class="form-button reset-button"><i class="fa-solid fa-eraser"></i></button>
                    </div>
                    
                </div>
            </form>
        </div>
        <table class="appointments-table">
            <tr class="table-header">
                <th><input type="checkbox" id="select-all"></th>
                <th>Appointment ID </th>
                <th>Island</th>
                <th>Province</th>
                <th>City</th>
                <th>Type</th>
                <th>Status</th>
            </tr>
        </table>
    </div>
    

    <div class="load-more">
        <button class="load-more-button">Load More</button>
    </div>
    <div class="scroll-to-top">
        <button class="scroll-to-top-button"><i class="fa-solid fa-arrow-up"></i></button>
    </div>
    <div id="selected" hidden>
        <div class="selected-controls">
            <p><span id="selected-number">0</span> Appointments Selected</p>
            <div class="selected-status">
                <select name="selected-status" id="selected-status">
                    <option value=none Default Selected Disabled>Change Status</option>
                    <option value="Complete">Complete</option>
                    <option value="Queued">Queued</option>
                    <option value="Serving">Serving</option>
                    <option value="NoShow">NoShow</option>
                    <option value="Skip">Skip</option>
                </select>
            </div>
            <button class="delete-button form-button" id="delete-button"><i class="fa-solid fa-trash"></i></button>
        </div>
    </div>
</body>
</html>