<!DOCTYPE html>

<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="./css/dashboard.css">
        <link rel="icon" href="./images/favicon.ico" type="image/x-icon">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
        <script src="https://kit.fontawesome.com/de9022eef9.js" crossorigin="anonymous"></script>

        <title>SeriousMD | Database Report </title>
    </head>
    <body>
        <%- include('partials/navbar') %>
        
        <div class="container">
            <h1>SeriousMD Database Report</h1>
            <h2><%= new Date().toLocaleDateString() %></h2>

            <table class="table">
                <tr>
                    <th colspan="4">Appointments</th>
                </tr>
                <tr>
                    <th style="background-color:#5c4fc7">Luzon</th>
                    <th style="background-color:#5c4fc7">Visayas</th>
                    <th style="background-color:#5c4fc7">Mindanao</th>
                    <th style="background-color:#5c4fc7">Total</th>
                </tr>
                <tr>
                    <td>123412341234</td>
                    <td>12341234231</td>
                    <td>123423141234</td>
                    <td>23141234</td>
                </tr>
                <tr>
                    <th colspan="4">Virtual Appointments</th>
                </tr>
                <tr>
                    <th style="background-color:#5c4fc7">Luzon</th>
                    <th style="background-color:#5c4fc7">Visayas</th>
                    <th style="background-color:#5c4fc7">Mindanao</th>
                    <th style="background-color:#5c4fc7">Total</th>
                </tr>
                <tr>
                    <td>123412341234</td>
                    <td>12341234231</td>
                    <td>123423141234</td>
                    <td>23141234</td>
                </tr>
                <tr>
                    <th colspan="4" >User Status</th>
                </tr>
                <tr>
                    <th style="background-color:#5c4fc7">Doctors</th>
                    <th style="background-color:#5c4fc7">Clinics</th>
                    <th style="background-color:#5c4fc7">Patients</th>
                    <th style="background-color:#5c4fc7">Total</th>
                </tr>
                <tr>
                    <td>123412341234</td>
                    <td>12341234231</td>
                    <td>123423141234</td>
                    <td>23141234</td>
                <tr>
                    <th colspan="4">Application Status</th>
                </tr>
                <tr>
                    <th colspan="2" style="background-color:#5c4fc7">Complete</th>
                    <th colspan="2" style="background-color:#5c4fc7">Queued</th>
                </tr>
                <tr>
                    <td colspan="2" >123412341234</td>
                    <td colspan="2">12341234231</td>
                </tr>
                <tr>
                    <th colspan="2" style="background-color:#5c4fc7">Serving</th>
                    <th colspan="2" style="background-color:#5c4fc7">Skipped</th>
                </tr>
                <tr>
                    <td colspan="2">123423141234</td>
                    <td colspan="2">23141234</td>
                </tr>
                <tr>
                    <th colspan="2" style="background-color:#5c4fc7">No Show</th>
                    <th colspan="2" style="background-color:#5c4fc7">Cancel</th>
                </tr>
                <tr>
                    <td colspan="2">123412341234</td>
                    <td colspan="2">12341234231</td>
                </tr>

            </table>
            
    </body>
</html>